{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
{ZL:GetCSS(2,0)/}
<link rel="stylesheet" href="/dist/css/swiper.min.css">
<script src="/dist/js/swiper.min.js" ></script>
</head>
<body class="cp_body">
<div class="cl_search">
<div class="container nr_top">
<form class="form-inline" role="search" action="/Search/SearchList" method="get" target="_blank">
<div class="form-group">
<input name="KeyWord" class="form-control mr-sm-3" type="text" placeholder="全站搜索">
</div>
<button class="btn my-sm-0" type="submit" style="background:none; margin-left:-3rem;" ><i class="fa fa-search" ></i></button>
</form>
</div>
</div>

<div class="container home_banner cl_brand">
<h1>品质生活</h1>
</div>
<!--轮播图 end-->



<div class="container cp_four">
<ul>
<li><a href="{ZL:GetNodeLinkUrl(5)/}"><span><i class="fa fa-cutlery" aria-hidden="true"></i></span><p>每日菜品</p> </a></li>
<li><a href="{ZL:GetNodeLinkUrl(20)/}"><span><i class="fa fa-coffee" aria-hidden="true"></i></span><p>家常菜</p> </a></li>
<li><a href="{ZL:GetNodeLinkUrl(21)/}"><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><p>大咖菜</p></a></li>
<li><a href="{ZL:GetNodeLinkUrl(23)/}"><span><i class="fa fa-heart-o" aria-hidden="true"></i></span><p>鲜美炖汤</p></a></li>
</ul>
</div>
<!--top end-->


<main class="container cp_main">
{ZL.Label id="输出菜单页面列表_不分页" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="5" TitleNum="30" /}
</main>
<!--main end-->

<footer class="container home_footer cp_footer">
<div class="home_foot">
<ul>
<li>官方授权</li>
<li>品质保证</li>
<li>信誉保障</li>
<li>价格优惠</li>
</ul>
<a href=""><img src="{$CssDir/}Images/banner3.jpg" alt=""></a>
<p>&copy; Copyright 2018 蔬香美园有限公司 <br/> <a href="http://www.miitbeian.gov.cn" target="_blank">赣ICP备1800005号-1</a> </p>
</div>
</footer>
<!--footer end-->


<div class="h_bottom_nav">
<ul class="container d-flex justify-content-around">
	<li class="bd-highlight"><a href="{ZL:GetNodeLinkUrl(2)/}" ><i class="fa fa-home" aria-hidden="true"></i><span>首页</span></a></li>
	<li class="bd-highlight"><a href="{ZL:GetNodeLinkUrl(10)/}"><i class="fa fa-flickr" aria-hidden="true"></i><span>活动</span></a></li>
	<li class="bd-highlight"><a href="/cart/cartbyclass.aspx" ><i class="fa z01-icon092" aria-hidden="true"></i><span>买菜</span></a></li>
	<li class="bd-highlight"><a href="{ZL:GetNodeLinkUrl(19)/}" class="active"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i><span>菜谱</span></a></li>
	<li class="bd-highlight"><a href="/wxpromo.aspx?r=/User"><i class="fa fa-user" aria-hidden="true"></i><span>我</span></a></li>
</ul>
</div>
<!--bottom end-->

<section>
  <div class="mask_menu" style="display:none;"></div>
  <div class="menu" id="menufloat"><i class="fa fa-th-large icon-menu"></i></div>
  <div class="menu-c" id="menufloat-c" style="display:none;">
    <div class="menu-c-out">
      <div class="menu-c-inner"> <a class="a-home" href="{ZL:GetNodeLinkUrl(2)/}" title="首页"></a> 
	  <a class="a-tel" href="tel:{ZL.Label id="客服电话"/}" title="联系店主"></a>
	  <a id="serviceUrl" class="a-server" href="{ZL.Label id="QQ客服群链接"/}" title="客服群"></a>
	  <a class="a-member" href="/wxpromo.aspx?r=/User" title="会员中心"></a>
	  <a class="a-search" href="/cart/cartbyclass.aspx" title="分类"></a>
	  <a class="a-cart" href="/Cart/Cart.aspx?ProClass=1" title="购物车"></a> 
	  <a class="a-collect" href="{ZL:GetNodeLinkUrl(10)/}" id="collect-link" title="活动"></a> </div>
	  <!--收藏可以改为留言，指向gesut-->
    </div>
  </div>
</section>


<script src="/dist/js/foru.js"></script>
<script>
/*轮播*/
var swiper = new Swiper('.swiper-container', {
  slidesPerView: 1,
  spaceBetween: 30,
  loop: true,
  pagination: {
	el: '.swiper-pagination',
	clickable: true,
  },

});
</script>
</body>
</html>
