{ZL.Source id="常规商品数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="常规商品数据源" FD="Proname" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="常规商品数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="常规商品数据源" FD="Meta_Description" page="0"/}" />
<script src="//code.z01.com/v4/dist/js/popper.min.js"></script>
{ZL:Boot4()/}
<link href="/dist/css/weui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/dist/css/swiper.min.css">
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/dist/js/swiper.min.js"></script>
</head>
<body>
<header>
<div class="container-fulid bg-info center_top">
<a href="{ZL:GetNodeLinkUrl(2)/}"><i class="fa fa-home" aria-hidden="true"></i> </a>
<h1 class="article_top ">{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="常规商品数据源" FD="NodeID" page="0"/}" /} </h1>
<a href="javascript:history.back(-1)"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
</div>
</header>
<!--header end-->

<div class="container-fulid pro_con_img">
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src='{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Clearimg" page="0"/})/}' alt='{SField sid="常规商品数据源" FD="Proname" page="0"/}'  /></div>
<script type="text/javascript" src="/JS/Modal/APIResult.js"></script>
<script>
var pics='{SField sid="常规商品数据源" FD="pics" page="0"/}';
var jsonstr=JSON.parse(pics);
if(jsonstr.length>0)
{
	for(i=0;i<jsonstr.length;i++)
	{
		document.write('<div class="swiper-slide"><img src="/UploadFiles/'+jsonstr[i].url+'" mid="/UploadFiles/'+jsonstr[i].url+'" big="/UploadFiles/'+jsonstr[i].url+'" alt="'+jsonstr[i].desc+'"></a></div>');
	}
}
</script>
</div>
<!-- Add Arrows -->
<div class="swiper-pagination"></div>
</div>
</div>
<!---pro_con_img end-->

<main class="container">
<div class="pro_main">
<h1>{SField sid="常规商品数据源" FD="Proname" page="0"/} <span>{ZL:JSQ({SField sid="常规商品数据源" FD="Weight" page="0"/}*1000,0)/}g
<button type="button" class="btn pro_pic_tip" data-toggle="tooltip" data-placement="right" title="受天气等原因，允许有适当的偏差">
<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
</button>
</span></h1>
<p>{SField sid="常规商品数据源" FD="Proinfo" page="0"/}</p>
<div class="pro_pric"><span>￥{ZL:GetMoney({SField sid="常规商品数据源" FD="LinPrice" page="0"/},2,1)/}</span> 
<button class="add"><i class="fa fa-plus "></i> </button>
</div>
</div>
</main>
<!--main ends-->

<div class="container pro_list">
<ul>
<li><i class="fa fa-balance-scale" aria-hidden="true"></i>  此商品按500g/份计价</li>
<li><i class="fa fa-check" aria-hidden="true"></i> 健康保证，价格从优</li>
</ul>
</div>

<div class="container pro_spe" hidden>
<h2>规格</h2>
<ul>
<li>净含量 </li>
<li>约500g</li>
<li>保存条件 </li>
<li>冷藏</li>
<li>保质期</li>
<li>7天</li>
</ul>
</div>


<div class="container pro_tj" hidden>
<h2>今日特惠</h2>
<a href="{ZL:GetNodeLinkUrl(10)/}" style="background-image: url({$CssDir/}Images/pro_bg.jpg)">
</a>
<p>用心创造健康,健康生活每一天~~</p>
</div>
<!--tehui end-->

<div class="container pro_tip">
<h2>提示</h2>
<div class="alert alert-light alert-dismissible fade show" role="alert">
  <strong>温馨提醒!</strong> 超过周边3公里不负责配送哦，请准确核对您的地址，满29元三公里内可配送。
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
<!--tip end-->

<div class="container pro_con_c">
<h2>商品详情</h2>
{SField sid="常规商品数据源" FD="Procontent" page="0"/}
</div>

<form id="form" name="form" method="post" action="/Cart/Cart.aspx">
<input name="id" type="hidden" id="id" value="{SField sid="常规商品数据源" FD="ID" page="0"/}" />
<div class="subFly">
<div class="up"></div>
<div class="down"> <a class="close" href="javascript:"> <i class="fa fa-remove" aria-hidden="true"></i> </a>
<dl class="subName">
<dt> <img class="imgPhoto" src="{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}" alt="{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Proname" page="0"/})/}"> </dt>
<dd>
<p data-icon=""></p>
<p><span>¥ </span>{ZL:GetMoney({SField sid="常规商品数据源" FD="LinPrice" page="0"/},2,1)/}</p>
<p class="pro_f">500g/份</p>
<!--<p> <span>已选：“</span> <span class="choseValue"></span> <span>”</span> </p>-->
</dd>
</dl>
<!--
<dl class="subChose">
<dt>口味</dt>
<dd class="m-active">辣味</dd>
<dd>酸甜</dd></dl>
-->

<dl class=" pro_sl">
<ul>
<li><strong>购买数量</strong> </li>
<li>
<div class="input-group input-group-sm" >
<div class="input-group-prepend">
<button class="btn btn-outline-secondary btns" type="button" onClick="LessNum();"><i class="fa fa-minus"></i></button>
</div>
<input type="text" class="form-control text-center" name="Pronum" id="Pronum" value="1" />
<div class="input-group-append">
<button class="btn btn-outline-secondary btns" type="button" onClick="AddNum();"><i class="fa fa-plus"></i></button>
</div>
</div>
</li>
<li>
</li>
</ul>
</dl>
<div class="container pros_spe" >
<h2>规格</h2>
<ul>
<li>净含量 </li>
<li>约500g</li>
<li>保存条件 </li>
<li>冷藏</li>
<li>保质期</li>
<li>7天</li>
</ul>
</div>
<!--kapian end-->


<div class="foot pro_buttom"> 
<button type="submit" onClick="subm()" class="btn btn-outline-success"><i class="fa fa-shopping-cart"></i> 立即购买</button>
</div>
</div>

</div>
</form>


<div class="h_bottom_nav  cl_bottom_nav" hidden>
<ul class="container d-flex justify-content-around">
	<li class="bd-highlight"><a href="{ZL:GetNodeLinkUrl(2)/}"><i class="fa fa-home" aria-hidden="true"></i><span>首页</span></a></li>
	<li class="bd-highlight"><a href="{ZL:GetNodeLinkUrl(10)/}"><i class="fa fa-flickr" aria-hidden="true"></i><span>活动</span></a></li>
	<li class="bd-highlight"><a href="{ZL:GetNodeListUrl(2)/}" class="active"><i class="fa z01-icon092" aria-hidden="true"></i><span>买菜</span></a></li>
	<li class="bd-highlight"><a href="{ZL:GetNodeLinkUrl(19)/}"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i><span>菜谱</span></a></li>
	<li class="bd-highlight"><a href="/wxpromo.aspx?r=/User"><i class="fa fa-user" aria-hidden="true"></i><span>我</span></a></li>
</ul>
</div>
<!--footer end-->

<section>
<div class="mask_menu" style="display:none;"></div>
<div class="menu" id="menufloat"><i class="fa fa-th-large icon-menu"></i></div>
<div class="menu-c" id="menufloat-c" style="display:none;">
<div class="menu-c-out">
<div class="menu-c-inner"> <a class="a-home" href="{ZL:GetNodeLinkUrl(2)/}" title="首页"></a> <a class="a-tel" href="tel:{ZL.Label id="客服电话"/}" title="联系店主"></a> <a id="serviceUrl" class="a-server" href="{ZL.Label id="QQ客服群链接"/}" title="客服群"></a> 
<a class="a-member" href="/wxpromo.aspx?r=/User" title="会员中心"></a> <a class="a-search" href="{ZL:GetNodeListUrl(2)/}" title="分类"></a> <a class="a-cart" href="/Cart/Cart.aspx?ProClass=1" title="购物车"></a> <a class="a-collect" href="{ZL:GetNodeLinkUrl(10)/}" id="collect-link" title="活动"></a> </div>
<!--收藏可以改为留言，指向gesut--> 
</div>
</div>
</section>
<script src="/dist/js/foru.js"></script>
<script type="text/javascript" src="{$CssDir/}js/add.js"></script> 

<!--四叶草 end-->


<script>
$('[data-toggle="tooltip"]').tooltip()
$('.pro_pic_tip').tooltip('show')
/*推荐*/



//商品图片滚动
var swiper = new Swiper('.swiper-container', {
pagination: {
el: '.swiper-pagination',
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},
});

//数量加减
var pnum=1;
var downcar=parseInt('{SField sid="常规商品数据源" FD="DownCar" page="0"/}');
function AddNum(){
	pnum++;
	var num=pnum*downcar;
	var allnum='{SField sid="常规商品数据源" FD="stock" page="0"/}';
	if(num<=allnum){
		$("#Pronum").val(num);
    }
	else{
		pnum--;
		num=pnum*downcar;
		$("#Pronum").val(num);
	}
}
function LessNum(){
	pnum--;
	var num=pnum*downcar;
	if(num>downcar){
		$("#Pronum").val(num);
	}
	else{
		pnum=1;
		num=pnum*downcar;
		$("#Pronum").val(num);
	}
}
//调用
$( function() {
    $('.i_box').iVaryVal({Fun:function(){}});
});


/*加入购物车*/
function AddCart()
{
    if($("#Pronum").val()>0){
        $.post("/Cart/Cart.aspx?ID="+$("#id").val()+"&Pronum="+$("#Pronum").val());
        alert("加入购物车成功！")
    }
    else alert("商品数量不正确！");
};


</script>

</body>
</html>
